<h1>Edit <%= @cocktail.name %></h1>
<%= simple_form_for [@cocktail] do |f| %>
	<%= f.input :name %>
	<ul>
		<% @cocktail.doses.each do |dose| %>
			<%= dose.ingredient.name + ': ' + dose.description %>
			<%= link_to 'edit', edit_cocktail_dose_path(dose) %>
		<% end %>
	</ul>
	<p><%= link_to 'Add dose', new_cocktail_dose_path(@cocktail.id) %></p>
	<%= f.submit "Update this cocktail", class: "btn btn-primary" %>
<% end %>
<p><%= link_to 'Delete', cocktail_path(@cocktail), method: :delete %></p>