<h2><%= @cocktail.name %></h2>
<% if @cocktail.photo.file %>
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
<% end %>
<h4>Doses:</h4>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <%= dose.ingredient.name + ': ' + dose.description %>
  <% end %>
</ul>
<p><%= link_to 'Edit', edit_cocktail_path(@cocktail) %></p>
<%= link_to 'Go back to all cocktails', root_path %>